.dashboard {
  text-align: center;

h2 {
    margin-bottom: 20px;
    font-weight: bold;
    color: var(--ion-color-dark);
}

ion-card {
  margin: 10px 0;
  
ion-card-header {
  background-color: var(--ion-color-light);
  }

ion-card-title {
  font-size: 1.2rem;
  }
}
}