.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #272727;
}

.login-card {
  background: rgb(29, 26, 26);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.p-field {
  margin-bottom: 1rem;
}

.error-message {
  margin-top: 1rem;
  color: red;
}

h2 {
  margin-bottom: 1.5rem;
}

@media (max-width: 600px) {
  .login-card {
    padding: 1.5rem;
  }
}
