.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.login-card i {
  font-size: 3rem !important;  /* Asegúrate de que el tamaño sea grande */
  color: #FFA500 !important;   /* Color naranjo */
}

.login-card {
  background: rgb(255, 255, 255);
  padding: 2rem;
  border-radius: 8px;
  border: 1px solid #FF9800;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 80%;
  text-align: center;
  color: black;
  font-weight:bold;
  font-family: 'Quicksand', sans-serif;
  border-color: #FF9800;
  
}

.p-field {
  margin-bottom: 1rem;
}

.error-message {
  margin-top: 1rem;
  color: red;
  
}

h2 {
  margin-bottom: 24px;
  color: #FF9800;
  font-size: 35px; /* Ajusta el tamaño si lo deseas */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7); /* Agrega sombra para hacerlo más llamativo */
  font-weight: bold; /* Cambia el grosor de la letra */
  font-family: 'Quicksand', sans-serif; /* Cambia la fuente a Quicksand */
}

@media (max-width: 600px) {
  .login-card {
    padding: 1.5rem;
  }
}
.p-mt-2 p-button-primary{
  background-color: #FF9800;
  background: p-mt-2 p-button-primary;
}
.custom-password-icon .pi-eye, .custom-password-icon .pi-eye-slash {
  color: #FF9800 !important;
}
