.titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em; /* Tamaño del título */
  margin: 20px 0; /* Reduce el margen */
  color: rgb(255, 255, 255); /* Color amarillo */
  text-align: center; /* Centra el contenido */
  font-family: 'Quicksand', sans-serif;
}

.dashboard-container {
  display: flex;
  flex-direction: column; /* Asegura que el título esté encima de las cartas */
  justify-content: flex-start; /* Mueve el contenido hacia arriba */
  align-items: center;
  height: calc(100vh - 50px); /* Reduce el espacio restante */
  padding: 1rem;
}

.dashboard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Diseño de 4 columnas */
  gap: 1.5rem; /* Espaciado entre las cartas */
  width: 100%;
  max-width: 1200px; /* Ancho máximo del contenedor */
  margin-top: 20px; /* Espacio entre el título y las cartas */
  text-align: center; /* Centra el contenido */
}

/* Estilo para las cartas */
mat-card {
  background-color: #ffffff; /* Fondo oscuro */
  color: rgb(0, 0, 0); /* Texto amarillo */
  border-radius: 8px; /* Esquinas redondeadas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transiciones para hover */
  cursor: pointer;
  text-align: center;
  justify-content: center; /* Centra el contenido verticalmente */
  align-items: center; /* Centra el contenido horizontalmente */

  &:hover {
    transform: translateY(-5px); /* Efecto flotante */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Sombra más pronunciada */
  }

  mat-card-title {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 1.2em; /* Tamaño del título */
    margin: 0; /* Elimina el margen por defecto */
    padding: 10px; /* Espaciado alrededor del título */
    text-align: center; /* Centra el texto dentro de la carta */
    width: 100%; /* Asegura que ocupe todo el ancho disponible */
  }
 /* Contenido de la carta */
.card-content {
  font-size: 1em; /* Tamaño del contenido */
  line-height: 1.5; /* Espaciado de línea */
  text-align: center; /* Centra el contenido */
}
}

/* Ajustes responsivos */
@media (max-width: 768px) {
  .titulo {
    font-size: 1.5em; /* Reduce el tamaño del título */
  }

  .dashboard {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Columnas más pequeñas */
  }

  mat-card {
    max-width: 100%; /* Asegura que las tarjetas ocupen el ancho completo */
  }

  mat-card-title {
    font-size: 1.1em; /* Reduce el tamaño del título de las cartas */
    text-align: center; /* Centra el contenido */
  }

  .card-content {
    font-size: 0.9em; /* Reduce el tamaño del contenido */
  }
}
