

.title {
  flex: 1 1 auto;
  font-weight: bold;
  color: white;
  
}

.spacer {
  flex: 1 1 auto;
}

.titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em; // Tamaño de fuente más grande
  margin: 40px 0; // Margen superior e inferior
  color: rgb(245, 230, 16); // Color para el título
  padding-bottom: 40px;
}

.colortext {
  color: rgb(245, 230, 16);
}

/* Añadimos una altura completa al contenedor principal */
.dashboard-container {
  height: 50vh; /* Ocupa toda la pantalla */
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; // Se asegura de ocupar el ancho completo
  padding: 0 20px; // Padding para evitar que el contenido toque los bordes
}

/* Ajustes de estilo para las tarjetas */
mat-toolbar {
  background-color: #3f51b5; /* Dark color for toolbar */
}

mat-card {
  margin: 10px;
  cursor: pointer;
  width: 100%; /* Cambiamos el ancho a 100% para que sea responsivo */
  // max-width: 800px; /* Establecemos un ancho máximo */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px; // Esquinas redondeadas
  overflow: hidden; // Oculta cualquier contenido que sobresalga
  background-color: black;
}

mat-card-title {
  font-weight: bold;
  font-size: 1.5em; // Tamaño de fuente más grande
}

.card-content {
  font-size: 1em; // Tamaño de fuente para el contenido
  line-height: 1.5; // Espaciado de línea para mejor legibilidad
}

/* Media queries para hacer el diseño más responsivo */
@media (max-width: 768px) {
  .titulo {
    font-size: 1.5em;
  }

  mat-card {
    max-width: 100%; // Se asegura que las tarjetas ocupen el 100% en pantallas pequeñas
  }

  mat-card-title {
    font-size: 1.2em; // Tamaño de fuente más pequeño en pantallas pequeñas
  }

  .card-content {
    font-size: 0.9em; // Tamaño de fuente más pequeño en pantallas pequeñas
  }
}
