@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
html, body {
    height: 100%; /* Ocupa toda la altura de la ventana */
    margin: 0; /* Elimina márgenes globales */
    font-family: 'Quicksand', sans-serif !important; 
}

.p-card-body {
    background-color: #ffffff; /* Cambia a verde */
    color: #FF9800; /* Texto en blanco */
    padding: 20px; /* Espaciado interno */
    border-radius: 8px; /* Bordes redondeados */ 
    font-family: 'Quicksand', sans-serif !important;
}

/* Configurar el fondo de la página */
body {
    font-family: 'Quicksand', sans-serif !important;
    background-image: url('assets/images/login-fondo-web.png'); /* Ruta de la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-size: cover; /* Hace que la imagen cubra todo el área disponible */
    background-position: center center; /* Centra la imagen */
    background-attachment: fixed; /* Mantiene el fondo fijo mientras se hace scroll */
    height: 100vh; /* Asegura que ocupe toda la altura */
}

/* Estilos para inputs, selects y textareas */
input, textarea, select, mat-form-field input {
    font-family: 'Quicksand', sans-serif !important;
    background-color: white !important; /* Fondo blanco */
    color: #FF9800 !important; /* Texto negro */
    border: 1px solid #ccc !important; /* Borde gris claro */
    padding: 8px; /* Espaciado interno */
    border-radius: 4px; /* Bordes redondeados */
}

/* Sobrescribir estilos de Angular Material específicamente */
.mat-input-element {
    background-color: white !important; /* Fondo blanco en inputs de Angular Material */
    color: black !important; /* Texto negro */
}

/* Sobrescribir estilos de los campos de Angular Material */
.mat-form-field {
    background-color: white !important; /* Fondo blanco */
    color: black !important; /* Texto negro */
}

/* Estilos adicionales para formularios de Angular Material */
.mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: white !important; /* Fondo blanco dentro del campo */
}

.mat-form-field-appearance-fill .mat-form-field-infix {
    padding: 0 8px; /* Espaciado interno del campo */
}

/* Botones y elementos interactivos globales */
button {
    border-radius: 4px; /* Bordes redondeados para botones */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}

/* Otros estilos globales */
.container {
    padding: 16px; /* Espaciado interno para contenedores generales */
    margin: 0 auto; /* Centra el contenedor */
    max-width: 1200px; /* Establece un ancho máximo */
}
.custom-password-icon .pi-eye, .custom-password-icon .pi-eye-slash {
    color: #FF9800 !important;
}
/* Agregar espacio entre el label y el input */
.custom-dialog .field label {
    margin-bottom: 16px; /* Puedes ajustar este valor según lo necesites */
}


.p-panelmenu .p-panelmenu-header .p-panelmenu-header-content .p-panelmenu-header-action {
    color: #FF9800 !important;
    background-color: white;
    padding: 1rem 1.25rem;
    
    font-family: 'Quicksand', sans-serif !important;
}

.mat-mdc-button {
    color:  white;
}

.custom-icon {
    font-size: 3em;  /* Cambia el tamaño */
    color: orange;   /* Cambia el color */
    margin-bottom: 10px;
}
/* Ajusta el label y el input del campo de usuario */
.login-container .p-field label[for="nombreUsuario"] {
    margin-left: 15px; /* Mueve el label a la derecha */
}

.login-container .p-field input#nombreUsuario {
    margin-left: 15px; /* Mueve el campo de texto a la derecha */
}

.mat-h3, .mat-subtitle-1, .mat-typography .mat-h3, .mat-typography .mat-subtitle-1, .mat-typography h3 {
    font-family: 'Quicksand', sans-serif !important;
    letter-spacing: .009375em;
    margin: 0 0 16px;
}
.mat-h2, .mat-headline-6, .mat-typography .mat-h2, .mat-typography .mat-headline-6, .mat-typography h2 {
    font-family: 'Quicksand', sans-serif !important;
    letter-spacing: .0125em;
    margin: 0 0 16px;
}

.mat-mdc-card-header {
    display: flex;
    padding: 16px 16px 0;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.p-menu.p-menu-overlay {
    background: #ffffff;
    border: 1px solid #000000;
    font-family: 'Quicksand', sans-serif !important;
    box-shadow: none;
}
/* Crear una línea negra en el medio del menú */
.p-menu.p-menu-overlay li:nth-child(2) {
    border-top: 1px solid #000000;
}
.p-menubar .p-menuitem > .p-menuitem-content .p-menuitem-link .p-menuitem-text {
    color: #FF9800 !important;
}

/* Cambiar color de los iconos en el menú de perfil */
.pi-sign-out {
    color: #FF9800 !important;
}

/* Cambiar el color solo para el ícono de 'Ver perfil' */
.p-menu li:nth-child(1) .pi-cog {
    color: #FF9800 !important;
}