.perfil-container {
    padding: 16px;
    font-family: 'Quicksand', sans-serif;
  }
  
  h2 {
    color: #ffffff;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 28px;
  }
  
  .value {
    color: gray;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
  }

  