<div class="perfil-container">
<p-card>
    <h2>Información Personal</h2>

    <p-card>
      <ng-template pTemplate="header">
        <div class="p-card-title">
          <i class="pi pi-user"></i> Nombre
        </div>
      </ng-template>
      <ng-template pTemplate="content">
        <span class="value">{{ usuario.nombre }}</span>
      </ng-template>
    </p-card>
  
    <p-card>
      <ng-template pTemplate="header">
        <div class="p-card-title">
          <i class="pi pi-envelope"></i> Correo Electrónico
        </div>
      </ng-template>
      <ng-template pTemplate="content">
        <span class="value">{{ usuario.email }}</span>
      </ng-template>
    </p-card>
  
    <p-card>
      <ng-template pTemplate="header">
        <div class="p-card-title">
          <i class="pi pi-phone"></i> Teléfono
        </div>
      </ng-template>
      <ng-template pTemplate="content">
        <span class="value">{{ usuario.telefono }}</span>
      </ng-template>
    </p-card>
  
    <p-card>
      <ng-template pTemplate="header">
        <div class="p-card-title">
          <i class="pi pi-home"></i> Dirección
        </div>
      </ng-template>
      <ng-template pTemplate="content">
        <span class="value">{{ usuario.direccion }}</span>
      </ng-template>
    </p-card>
</p-card>
  </div>
  