.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

p-card {
  padding: 10px;
}

ngx-charts-bar-vertical {
  width: 100%;
  height: auto;
}
