<div class="dashboard-container">
  <!-- Resumen de Inventario -->
  <div class="card resumen-card">
    <h3>Resumen de inventario</h3>
    <p>
      Total productos agotándose: 
      <strong>{{ totalProductosAgotandose }}</strong>
      <button 
        *ngIf="totalProductosAgotandose > 0" 
        class="btn-ver" 
        (click)="abrirModalProductosAgotandose()">
        Ver
      </button>
    </p>
    <p>
      Total ingredientes agotándose: 
      <strong>{{ totalIngredientesAgotandose }}</strong>
      <button 
        *ngIf="totalIngredientesAgotandose > 0" 
        class="btn-ver" 
        (click)="abrirModalIngredientesAgotandose()">
        Ver
      </button>
    </p>
  </div>

  <!-- Ventas Diarias -->
  <div class="card ventas-card">
    <h3>Ventas diarias</h3>
    <h2>{{ ventasDiarias | currency }}</h2>
  </div>

  <!-- Ventas Mensuales -->
  <div class="card ventas-card">
    <h3>Ventas mensuales</h3>
    <h2>{{ ventasMensuales | currency }}</h2>
    <p>Total transacciones: <strong>{{ totalTransacciones }}</strong></p>
  </div>

  <!-- Gráfico de Productos Vendidos (Hoy) -->
  <div class="chart-card chart-pie">
    <h3 class="chart-title">Productos Vendidos (Hoy)</h3>
    <ngx-charts-pie-chart
      [legend]="false"
      [results]="productosVendidosData"
      [view]="[350, 350]"
      [legend]="true"
      [labels]="true"
      [doughnut]="true"
      [explodeSlices]="false"
      [scheme]="colorScheme">
    </ngx-charts-pie-chart>
  </div>

  <!-- Gráfico de Ventas Mensuales -->
<div class="chart-card chart-bar">
  <h3 class="chart-title">Ventas Mensuales</h3>
  <div class="fecha-control">
    <input type="month" [(ngModel)]="mesSeleccionado" (change)="actualizarVentasMensuales()" />
  </div>
  <ngx-charts-bar-vertical
    [results]="ventasMensualesData"
    [xAxis]="true"
    [yAxis]="true"
    [legend]="false"
    [showXAxisLabel]="true"
    [showYAxisLabel]="true"
    [xAxisLabel]="'Fecha'"
    [yAxisLabel]="'Ventas ($)'"
    [scheme]="colorScheme"
    [yScaleMax]="maxYValue">
  </ngx-charts-bar-vertical>
</div>


<!-- Modal -->
<div class="modal" *ngIf="modalAbierto">
  <div class="modal-content">
    <h2>{{ modalTitulo }}</h2>
    <ul>
      <li *ngFor="let item of modalContenido">
        {{ item.nombre }} - Quedan: {{ item.cantidadActual }}
      </li>
    </ul>
    <button class="btn-cerrar" (click)="cerrarModal()">Cerrar</button>
  </div>
</div>
