.titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  margin: 20px 0;
  color: rgb(245, 230, 16); /* No cambiamos el color del título */
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: calc(100vh - 50px);
  padding: 1rem;
}

.dashboard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.5rem;
  width: 100%;
  max-width: 1200px;
  margin-top: 20px;
}

mat-card {
  background-color: #fff; /* Fondo blanco */
  color: #000; /* Texto negro */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }

  mat-card-title {
    font-weight: bold;
    font-size: 1.2em;
    color: #000; /* Aseguramos que el título sea negro */
  }

  .card-content {
    font-size: 1em;
    line-height: 1.5;
    text-align: center;
    color: #000; /* Aseguramos que el contenido sea negro */
  }
}

@media (max-width: 768px) {
  .titulo {
    font-size: 1.5em;
  }

  .dashboard {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }

  mat-card {
    max-width: 100%;
  }

  mat-card-title {
    font-size: 1.1em;
  }

  .card-content {
    font-size: 0.9em;
  }
}
