<p-menubar > <!-- *ngIf="isAuthenticated" -->
  <ng-template *ngIf="isAuthenticated" pTemplate="start">
    <p-sidebar [(visible)]="visibleSidebar1" position="left" [modal]="true">
      <p-panelMenu #menuRoutes [model]="menuItems"></p-panelMenu>
    </p-sidebar>
    <p-button (click)="visibleSidebar1 = true" icon="pi pi-bars"></p-button>
  </ng-template>

  <ng-template *ngIf="isAuthenticated" pTemplate="end">
    <div class="navbar-profile">
      <span class="role-text">{{ role }}</span>
      <p-button icon="pi pi-user" (click)="menu.toggle($event)"></p-button>
      <p-menu #menu [popup]="true" [model]="profileItems"></p-menu>
    </div>
  </ng-template>
</p-menubar>