::ng-deep .p-menubar {
  background-color: #FF9800 !important;
}

::ng-deep .p-button {
  background-color: #FF9800 !important;
  border: none !important;
  color: white !important;
}

::ng-deep .p-button:hover {
  background-color: #ae6a05 !important;
}
