<p-toast></p-toast> 

<p-table class="custom-table" [value]="usuarios" responsiveLayout="scroll">
  <ng-template pTemplate="header">
    <tr>
      <th>Nombre de Usuario</th>
      <th>Correo Electrónico</th>
      <th>Nombres</th>
      <th>Apellidos</th>
      <th>Número Telefónico</th> 
      <th>Activo</th>
      <th>Administrador</th>
      <th>Rol</th>
      <th>Acciones</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-usuario>
    <tr>
      <td>{{ usuario.nombreUsuario }}</td>
      <td>{{ usuario.correo }}</td>
      <td>{{ usuario.nombre }}</td>
      <td>{{ usuario.apellido }}</td>
      <td>{{ usuario.numero_telefonico || 'N/A' }}</td> 
      <td>{{ usuario.estado_activo ? 'Sí' : 'No' }}</td> 
      <td>{{ usuario.usuario_administrador ? 'Sí' : 'No' }}</td> 
      <td>{{ usuario.role }}</td>
      <td>
        <button pButton icon="pi pi-pencil" class="p-button-rounded p-button-success" (click)="editarUsuario(usuario)"></button>
        <button pButton icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="eliminarUsuario(usuario)"></button>
      </td>
    </tr>
  </ng-template>
</p-table>

<!-- Diálogo de edición de usuario -->
<p-dialog header="Editar Usuario" [(visible)]="displayDialog" [modal]="true" [closable]="false" (onHide)="cerrarDialogo()" class="custom-dialog">
  <div class="field">
    <label for="nombreUsuario">Nombre de usuario</label>
    <input pInputText id="nombreUsuario" [(ngModel)]="usuarioSeleccionado.nombreUsuario">
  </div>
  <div class="field">
    <label for="correo">Correo electrónico</label>
    <input pInputText id="correo" [(ngModel)]="usuarioSeleccionado.correo">
  </div>
  <div class="field">
    <label for="nombre">Nombres</label>
    <input pInputText id="nombre" [(ngModel)]="usuarioSeleccionado.nombre">
  </div>
  <div class="field">
    <label for="apellido">Apellidos</label>
    <input pInputText id="apellido" [(ngModel)]="usuarioSeleccionado.apellido">
  </div>
  <div class="field">
    <label for="numeroTelefonico">Número telefónico</label>
    <input pInputText id="numeroTelefonico" [(ngModel)]="usuarioSeleccionado.numero_telefonico">
  </div>
  <div class="field">
    <label for="estadoActivo">¿Está activo?</label>
    <p-checkbox id="estadoActivo" [(ngModel)]="usuarioSeleccionado.estado_activo" binary="true"></p-checkbox>
  </div>
  <div class="field">
    <label for="administrador">¿Es administrador?</label>
    <p-checkbox id="administrador" [(ngModel)]="usuarioSeleccionado.usuario_administrador" binary="true"></p-checkbox>
  </div>
  <div class="field">
    <label for="role">Rol</label>
    <input pInputText id="role" [(ngModel)]="usuarioSeleccionado.role">
  </div>
  <p-footer>
    <button pButton label="Guardar" icon="pi pi-check" (click)="guardarUsuario()" class="p-button-naranja"></button>
    <button pButton label="Cancelar" icon="pi pi-times" class="p-button-secondary" (click)="cerrarDialogo()"></button>
  </p-footer>
</p-dialog>
